<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Mis compras</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <h1 class="title">Mis compras</h1>
    <ion-img class="logo" src="\assets\img\dogcart.png"></ion-img>
    <br>
    
     <ion-label class="datosboleta">
      <h6> Fecha de compra:</h6>
      <h3>10-11-2022</h3>
      <h6> Numero de compra:</h6>
      <h3>0001-0</h3>
    </ion-label>
     
  <ion-item >
    <ion-avatar slot="start">
      <img src="assets\img\cachupin18kg.png" alt="">
    </ion-avatar>

    <ion-label class="producto">
      <h4>Nombre producto:</h4>
      <h3>Cachupín - Alimento Perro Adulto Carne</h3>
      <h4>tipo producto:</h4>
      <h3>Comida de perro</h3>
      <h4>peso:</h4>
      <h3>18KG</h3>
      <h4>valor unidad:</h4>
      <h3>$24.225</h3>
      <h4>cantidad comprada:</h4>
      <h3>1</h3>
      <h4>total:</h4>
      <h3>$24.225</h3>
 
    </ion-label> 
  </ion-item>
 

<!--
  ---SI ES COMIDA PONER UN IF Y QUE MUESTRE EL PESO Y EN EL TIPO DE PRODUCTO DEJE COMIDA DE PERRO PERO CREO QUE HAY OTRO APARTADO QUE 
  HICIMOS PARA SABER SI ES PARA GATO O PERRO Y QUE MUESTRE EL TIPO DE ANIMAL QUE ES EL PRODUCTO

  ---SI ES JUGUETE NO ES NECESARIO PONER PARA QUE TIPO DE ANIMAL ES, SI ES TRANSPORTIN TAMPOCO ES NECESARIO AUNQUE SI QUIERES PONERLO VO DALE
  
  ---SI ES  REMEDIO PONER PARA QUE TIPO DE ANIMAL ES 

-->


</ion-list>
</ion-content>
