<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Mis compras</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <h1 class="title">Mis compras</h1>
    <ion-img class="logo" src="\assets\img\dogcart.png"></ion-img>
    <br>
    <ion-list-header class="datosboleta">
      <h6> Fecha de compra</h6>
      <h6> Numero de compra</h6>
     </ion-list-header>
  <ion-item >
    <ion-avatar slot="start">
      <img src="assets\img\lobo.png" alt="">
    </ion-avatar>
    <ion-label>
      <h2>Nombre producto</h2>
      <h4>tipo producto</h4>
      <h4>valor unidad</h4>
      <h4>cantidad comprada</h4>
      <h4>total</h4>
 
    </ion-label> 
  </ion-item>
  
  <ion-item >
    <ion-avatar slot="start">
      <img src="assets\img\lobo2.png" alt="">
    </ion-avatar>
    <ion-label>
      <h2>Nombre producto</h2>
      <h4>tipo producto</h4>
      <h4>valor unidad</h4>
      <h4>cantidad comprada</h4>
      <h4>total</h4>
    </ion-label>
  </ion-item>
  <ion-item >
    <ion-avatar slot="start">
      <img src="assets\img\samurai.png" alt="">
    </ion-avatar>
    <ion-label>
      <h2>Nombre producto</h2>
      <h4>tipo producto</h4>
      <h4>valor unidad</h4>
      <h4>cantidad comprada</h4>
      <h4>total</h4>
    </ion-label>
  </ion-item>

  <ion-list-header>
    chao  pescao
  </ion-list-header>
  <ion-item >
    <ion-avatar slot="start">
      <img src="assets\img\samurai.png" alt="">
    </ion-avatar>
    <ion-label>
      <h2>Nombre producto</h2>
      <h4>tipo producto</h4>
      <h4>valor unidad</h4>
      <h4>cantidad comprada</h4>
      <h4>total</h4>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
