<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>

  <form [formGroup]="credentials" (ngSubmit)="onSubmit()">
    <h1 class="title">Bizcocho</h1>
    <p>Ayudando a miles de animales abandonados cada día.</p>
    <ion-item-group>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
        <ion-button expand="full" class="main-btn" type="submit">Iniciar sesión</ion-button>
        <ion-button expand="full" class="main-btn" routerLink="/auth/signup" routerDirection="root" routerLinkActive="selected"
          color="dark">Registrarse</ion-button>
    </ion-item-group>
  </form>
</ion-header>