/*******TITULO*******/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.title {
  color: #f1f8ff;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 32px;
  text-decoration: none;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-family: 'Lobster', cursive;
}

/*FIN TITULO*/

.fondo {
  background: rgb(28, 158, 159);
  background: linear-gradient(59deg, rgba(28, 158, 159, 1) 0%, rgba(45, 112, 253, 1) 100%);
}

.img {

  position: absolute;
}

.datos {
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  max-width: 93%;


  opacity: 0.9;
}

.main-btn {
  border-radius: 30px;
}

.cosas {
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.9;


}