<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="credentials" (ngSubmit)="onSubmit()">
    <div >
      <ion-img class="img" src="\assets\img\perroygato.png" > </ion-img>
      <br><br><br><br><br>
    <h1 class="title">Veterinaria Chile</h1>
    <br><br><br><br>
    <ion-item-group class="cosas">
      <ion-item class="datos">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="datos">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <br>
      <br>
      <p class="recuperar">Recuperar Contraseña</p>
      <br>
        <ion-button  class="main-btn" expand="block" color="danger" type="submit">Iniciar sesión</ion-button>        
        <ion-button  class="main-btn" expand="block" color="primary" routerLink="/auth/registrocliente" routerDirection="root" routerLinkActive="selected"
          color="dark">Registrarse</ion-button>
    </ion-item-group>
    <br><br>
  </div>
  </form>

</ion-content>
