<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Mantenedor Producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list id="inbox-list">
    <ion-item>
      <ion-select interface="action-sheet" placeholder="Seleciona Producto" (ionChange)="buscarProductoEvent($event)">
        <ion-select-option *ngFor="let produc of productos" value= {{produc.id}} >{{produc.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="producto.nombre" ngDefaultControl></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number"  [(ngModel)]="producto.precio" ngDefaultControl ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input type="text" [(ngModel)]="producto.descripcion" ngDefaultControl></ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select interface="action-sheet" placeholder="{{producto.tipo}}" (ionChange)="selctTipo($event)">
          <ion-select-option value="Alimentos">Alimentos</ion-select-option>
          <ion-select-option value="Juguetes">Juguetes</ion-select-option>
          <ion-select-option value="Ropa">Ropa</ion-select-option>
          <ion-select-option value="Medicamentos">Medicamentos</ion-select-option>
          <ion-select-option value="Transporte">Transporte</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input type="number" [(ngModel)]="producto.stock" ngDefaultControl></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Foto Producto:</ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <label for="file">
            <ion-icon name="images"></ion-icon>
          </label>
          <input id="file" style="display: none;" type="file" accept="image/*" (change)="selectImagen($event)">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <img [src]="nuevaImagen">
  </ion-list>
  <ion-button expand="block" color="success" (click)='agregarProducto()'> Agregar </ion-button>
  <ion-button expand="block" color="warning" (click)='actualizarProducto()'> Actualizar </ion-button>
  <ion-button expand="block" color="danger" (click)='eliminarProducto(producto.id)'> Eliminar </ion-button>
  <ion-button expand="block" color="primary" (click)='limpiarProducto()'> Limpiar </ion-button>
  <br>
</ion-content>