ion-avatar{
   position:relative;
    image-resolution: 100%;
    width: 100px;  
    height: 100px;
    margin-left:6%;
    margin-right: 8%;
    margin-bottom: 3%;
    border:2px solid;
    border-color: rgba(92, 136, 248, 0.329); 
    }
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&display=swap');


h1{
text-align: center;
font-size: 25px;
font-family: 'Bebas Neue';
color: rgba(250, 235, 215, 0.804);
/*font-family: 'Playfair Display', serif;*/
}

.logo{
    position: absolute;
    margin-left: 55%;
    width: 50px;
    border-radius: 50%;
    background-image: radial-gradient(circle at 91.14% 30.81%, #b1c8ed 0, #4289d4 50%, #0050b9 100%);
}
.logo2{
    position: absolute;
      margin-left: 55%;
      width: 50px;
      border-radius: 50%;
      background-image: radial-gradient(circle at 91.14% 30.81%, #b1c8ed 0, #4289d4 50%, #0050b9 100%);
  }

  .logo3{
    position: absolute;
      margin-left: 55%;
      width: 50px;
      border-radius: 50%;
      background-image: radial-gradient(circle at 91.14% 30.81%, #b1c8ed 0, #4289d4 50%, #0050b9 100%);
  }
  
  