<ion-content fullscreen>

  <div class="ion-text-end">
    <ion-button (click)="close()" fill="clear" color="dark">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>

  <div>
    <ion-col size="12">
    <ion-list >
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-col size="1">               
                <ion-button fill="clear" (click)="removeCartItem(p)" class="ion-float-right">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>              
              <img class="card-img" src={{p.foto}}>
              <ion-col size="12">
                {{ p.nombre }}
                <ion-col >
                  <ion-button fill="clear" (click)="decreaseCartItem(p)">
                    <ion-icon name="remove-circle"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col class="ion-align-items-center">
                  {{ p.cantidad }}
                </ion-col>
                <ion-col >
                  <ion-button fill="clear" (click)="increaseCartItem(p)">
                    <ion-icon name="add-circle"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-col>                                         
            </ion-col>
            <ion-col size="12" class="ion-text-end">
              $ {{ p.cantidad * p.precio}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-text-end">
              Total: $ {{ getTotal() }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-col>
    <ion-button expand="full" (click)="generarVenta()">
      Comprar
    </ion-button>
  </div>

</ion-content>