<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>
  <h3 class="title">Veterinaria Chile</h3>
  <ion-img class="img" src="\assets\img\catdog.png"></ion-img>
  
  
  <h3>Nuestros horarios:</h3>
  <div class="datos">
  <h6>Lunes a Viernes: <br> 11:30 hasta 18:30 hrs <br> 
    Sabados: <br> 11:30 hasta las 15:00hrs <br> Domingos y festivos: <br> Cerrado</h6> 
  <span>Contactanos +56966617695 </span> 
  

  <h3>Encuentranos</h3>
  <h6>Claudio Arrau 825  <br> El Bosque <br> Región Metropolitana <br></h6>
</div> 
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d939.6701467454915!2d-70.67503353381024!3d-33.566033452772174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dbcdcfb0187f%3A0xe3136b1225df0f57!2sVeterinaria%20Animal%20Live!5e0!3m2!1ses-419!2scl!4v1666109652428!5m2!1ses-419!2scl"
   ></iframe>
</ion-content>
