/*****MAPA*****/
iframe{
    border: solid 2px;
    height: 200px;
    width: 200px;
    margin-left: 13%;
    border-radius: 30%;
}
/*****FIN MAPA*****/
h3{
    color: antiquewhite;
    margin-left: 5px;
}

.datos{
    color: rgb(31, 31, 31);
    padding-left: 6px;

}