<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de compras</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <ion-list>
    <h1 class="title">Lista de compras</h1>
    <ion-img class="logo" src="\assets\img\gatopc.png"></ion-img>
    <br>

    
  <ion-item >
    <ion-label>
      <h2>Numero de compra: 0001-0</h2>
      <h4>Fecha:  10-11-2022</h4>
      <h4>Costo: $24.225</h4>
      <ion-button expand="block" color="primary" [routerLink]="['/pages/compras']" > Ver Compra </ion-button>
      
    </ion-label> 
  </ion-item>
  

  <ion-item >

    <ion-label>
      <h2>Numero de compra</h2>
      <h4>Fecha </h4>
      <h4>Costo</h4>
      <ion-button expand="block" color="primary" [routerLink]="['/pages/compras']"  > Ver Compra </ion-button>
    </ion-label>
  </ion-item>
  <ion-item >
    <ion-label>
      <h2>Numero de compra</h2>
      <h4>Fecha </h4>
      <h4>Costo</h4>
      <ion-button expand="block" color="primary" [routerLink]="['/pages/compras']"  > Ver Compra </ion-button>
    </ion-label>
  </ion-item>

  <ion-list-header>
    chao  pescao
  </ion-list-header>
  <ion-item >
  
    <ion-label>
      <h2>Numero de compra</h2>
      <h4>Fecha </h4>
      <h4>Costo</h4>
      <ion-button expand="block" color="primary" [routerLink]="['/pages/compras']"  > Ver Compra </ion-button>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>



