<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de compras</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="title">Lista de compras</h1>
  <ion-img class="logo" src="\assets\img\gatopc.png"></ion-img>
  <br>
  <ion-item>
    <ion-list *ngFor="let p of totalCart;">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{p.Total}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{p.cantidad}}
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-item>
</ion-content>