<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Modificar datos mascota</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Editando datos de mascota</h1>

  <ion-list >
    <ion-avatar >
      <img src="https://w7.pngwing.com/pngs/1020/59/png-transparent-dog-logo-pet-food-cat-pet-food-food-animals-cat-like-mammal-thumbnail.png" />
    </ion-avatar>

    <ion-item>
      <span position="floating">Especie</span>
 
    </ion-item>
    <ion-item>
      <span position="floating">Nombre de mascota</span>
    </ion-item>

    <ion-item>
      <span position="floating">Sexo</span>
    </ion-item>

    <ion-item>
      <span position="floating">Edad</span>
    </ion-item>

    <ion-item>
      <span position="floating">Peso</span>
    </ion-item>

    <ion-item>
      <span position="floating">Raza</span> 
    </ion-item>

    <ion-item>
      <span position="floating">Pelaje</span>
    </ion-item>

    <ion-item>
      <span position="floating">Esta castrado?</span> 
    </ion-item>

    <ion-item>
      <span position="floating">Cantidad de vacunas</span>
    </ion-item>

    <ion-item>
      <span >Dato extra</span>
    </ion-item>
    
    <ion-item>
      <span position="floating">Foto Mascota</span>
    </ion-item>
  </ion-list>
  
  <ion-button expand="full" color="primary" href='pages/mascota' > Volver </ion-button>
  <ion-button expand="full" color="secondary" href='admin/modificarmasacotacliente'> Editar</ion-button>




</ion-content>