<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Mis mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Mis mascotas</h1>
<ion-img class="logo" src="\assets\img\gatoperro2.png"></ion-img>
<br>
<ion-button expand="full" color="primary" href='pages/crearmascotacliente' > Agregar nueva mascotas </ion-button>
<ion-button expand="full" color="secondary" href='pages/perfilcliente'>mi perfil</ion-button>



<ion-card>
  <img src="\assets\img\gatoperro2.png"/>
  <ion-card-header>
    <ion-card-title>Nombre Mascota</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <span>Sexo</span> <br>
    <span>Peso</span> <br>
    <span>Edad</span> <br>
  </ion-card-content>
<ion-button expand="block" color="primary" href='pages/modificarmascota' > Ver </ion-button>
</ion-card>


<ion-card>
  <img src="\assets\img\profile.gif"/>
  <ion-card-header>
    <ion-card-title>Nombre Mascota</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <span>Sexo</span> <br>
    <span>Peso</span> <br>
    <span>Edad</span> <br>
  </ion-card-content>
  <ion-button expand="block" color="primary" href='pages/modificarmascota' > Ver </ion-button>
</ion-card>


</ion-content>
