.fondo{
   
    background-image: url("/assets/img/fondo.png");
    
}
.titulo{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9 rem;
    text-align: center;
    background-color: rgba(43, 49, 49, 0.329);
    border-radius: 10px 100px;

}



ion-card{
    border-radius: 30px;  
    background: -webkit-linear-gradient(-26deg, rgb(35, 134, 136), rgb(19, 30, 125));
    background: linear-gradient(-26deg, rgb(35, 134, 136), rgb(19, 30, 125));        
}
.mensaje{
    color: rgb(255, 255, 255);
}


.card-img{
    max-width: 100%;
    max-height: 100%;   
    align-items: center;
}

.card-img{
   filter: grayscale(50%);
   transition: filter 300ms;
}
.card-img:is(:hover, :focus){
   filter: grayscale(0%);

}


ion-toolbar{
background: -webkit-linear-gradient(89deg, rgb(72, 155, 229), rgb(26, 84, 142));
background: linear-gradient(89deg, rgb(72, 155, 229), rgb(26, 84, 142));
}

