<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>nuestroequipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  
  <div class="fondo"> 
    <div class="titulo" >
     
      <h1 >Nuestros Veterinarios </h1> 
    </div>

    <div class="card" >
    <ion-card>
      <img class="card-img" src="assets\img\vet1.png" />
      <ion-card-header>
        <ion-card-subtitle color="primary" >Veterinaria 1</ion-card-subtitle>
        <ion-card-title>Cruela de Vil</ion-card-title>
      </ion-card-header>
      <ion-card-content class="mensaje">
        Especialista en cuidado de perros y gatos. <br>
        adora a sus 101 dalmatas
      </ion-card-content>
      
    </ion-card>
    <br><br>
    <ion-card>
      <img class="card-img" src="assets\img\vet2.png" />
      <ion-card-header>
        <ion-card-subtitle color="primary">veterinario 2</ion-card-subtitle>
        <ion-card-title>Terminator</ion-card-title>
      </ion-card-header>
      <ion-card-content class="mensaje">
        Especialista en cuidado de perros y gatos. <br>
        mas de 5 años de experiencia trabajando con nosotros
      </ion-card-content>
      
    </ion-card>
    </div>
    <br><br>
    <ion-card>
      <img class="card-img" src="assets\img\vet3.png" />
      <ion-card-header>
        <ion-card-subtitle color="primary">veterinario 3</ion-card-subtitle>
        <ion-card-title>hannibal lecter</ion-card-title>
      </ion-card-header>
      <ion-card-content class="mensaje">
        Veterinario experto en cirugias de animales.
      </ion-card-content>
      
    </ion-card>
    <br><br><br>
</div>
</ion-content>
