<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Bizcocho</ion-list-header>
          <ion-note>¡Te invitamos a colaborar!</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>           
          </ion-menu-toggle>         
        </ion-list>
        <ion-list>
          <ion-list-header>Aporta</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let Aporta  of labels" lines="none">
            <ion-item routerDirection="root" [routerLink]="[Aporta.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="Aporta.icon + '-outline'" [md]="Aporta.icon + '-sharp'"></ion-icon>
            <ion-label>{{ Aporta.label }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        </ion-list>        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
