<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Veterinaria</ion-list-header>
          <ion-note style="font-size: 14px;">¡Tu mascota es nuestra prioridad!</ion-note>
          <ion-item *ngIf="login == true">
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src={{cliente.foto}} />
            </ion-avatar>
            <ion-label>
              <h2>Bienvenido {{cliente.username}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-menu-toggle *ngIf="login == false">
          <ion-list id="inbox-list">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item *ngIf=" [p.title] == 'Inicio' " routerDirection="root" [routerLink]="[p.url]" lines="none"
                detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="login == true">
          <ion-list id="inbox-list">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-menu-toggle>
        <ion-list id="inbox-list">
          <ion-list-header>Ajustes</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let Ajustes  of admin" lines="none">
            <ion-menu-toggle *ngIf="login == true">
              <ion-item *ngIf=" [Ajustes.label] != 'Login' && [Ajustes.label] != 'Logout' " routerDirection="root" [routerLink]="[Ajustes.url]"
                lines="none" detail="false">
                <ion-icon slot="start" [ios]="Ajustes.icon + '-outline'" [md]="Ajustes.icon + '-sharp'"></ion-icon>
                <ion-label>{{ Ajustes.label }}</ion-label>
              </ion-item>
              <ion-item *ngIf=" [Ajustes.label] == 'Logout' " routerDirection="root" [routerLink]="[Ajustes.url]"
              (click)="logout()" lines="none" detail="false">
              <ion-icon slot="start" [ios]="Ajustes.icon + '-outline'" [md]="Ajustes.icon + '-sharp'"></ion-icon>
              <ion-label>{{ Ajustes.label }}</ion-label>
            </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle *ngIf="login == false">
              <ion-item *ngIf=" [Ajustes.label] == 'Login'" routerDirection="root" [routerLink]="[Ajustes.url]"
                lines="none" detail="false">
                <ion-icon slot="start" [ios]="Ajustes.icon + '-outline'" [md]="Ajustes.icon + '-sharp'"></ion-icon>
                <ion-label>{{ Ajustes.label }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-menu-toggle>
        </ion-list>
        <ion-list id="inbox-list">
          <ion-list-header>Nosotros</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let Nosotros  of comercial" lines="none">
            <ion-item routerDirection="root" [routerLink]="[Nosotros.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="Nosotros.icon + '-outline'" [md]="Nosotros.icon + '-sharp'"></ion-icon>
              <ion-label>{{ Nosotros.label }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>