<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">

      <ion-content>

        <ion-list-header>Veterinaria Chile</ion-list-header>
        <ion-note style="font-size: 14px;">¡Tu mascota es nuestra prioridad!</ion-note>
        <ion-item *ngIf="login == true">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src={{usuario.foto}} />
          </ion-avatar>
          <ion-label>
            <h2>Bienvenido {{usuario.username}}</h2>
          </ion-label>
        </ion-item>

        <br>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item *ngIf=" [p.title] == 'Inicio' " routerDirection="root" [routerLink]="[p.url]" lines="none"
            detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
          <ion-item *ngIf="login == true && [p.title] != 'Inicio'" routerDirection="root" [routerLink]="[p.url]"
            lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-list *ngIf="[usuario.uid] != '' && login == true">
          <ion-menu-toggle auto-hide="false" *ngFor="let tipo of tipoUsuario(usuario.tipo)" lines="none">
            <ion-item routerDirection="root" [routerLink]="[tipo.url]" lines="none" detail="false">
              <ion-icon slot="start" [ios]="tipo.icon + '-outline'" [md]="tipo.icon + '-sharp'"></ion-icon>
              <ion-label>{{ tipo.label }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-menu-toggle auto-hide="false" *ngFor="let sesion  of sesion" lines="none">
          <ion-item *ngIf=" login == true && [sesion.label] != 'Login' && [sesion.label] != 'Logout' "
            routerDirection="root" [routerLink]="[sesion.url]" lines="none" detail="false">
            <ion-icon slot="start" [ios]="sesion.icon + '-outline'" [md]="sesion.icon + '-sharp'"></ion-icon>
            <ion-label>{{ sesion.label }}</ion-label>
          </ion-item>
          <ion-item *ngIf=" login == true && [sesion.label] == 'Logout' " routerDirection="root"
            [routerLink]="[sesion.url]" (click)="logout()" lines="none" detail="false">
            <ion-icon slot="start" [ios]="sesion.icon + '-outline'" [md]="sesion.icon + '-sharp'"></ion-icon>
            <ion-label>{{ sesion.label }}</ion-label>
          </ion-item>
          <ion-item *ngIf=" login == false && [sesion.label] == 'Login'" routerDirection="root"
            [routerLink]="[sesion.url]" lines="none" detail="false">
            <ion-icon slot="start" [ios]="sesion.icon + '-outline'" [md]="sesion.icon + '-sharp'"></ion-icon>
            <ion-label>{{ sesion.label }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let Comercio  of comercial" lines="none">
            <ion-item routerDirection="root" [routerLink]="[Comercio.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="Comercio.icon + '-outline'" [md]="Comercio.icon + '-sharp'"></ion-icon>
              <ion-label>{{ Comercio.label }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-button href="https://www.facebook.com/">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button href="https://www.instagram.com/">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button href="https://api.whatsapp.com/send?phone=56920311430">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
        </ion-list>

        <br><span>VeteriApp® 2022 Todos los Derechos Reservados</span>
        <br><span> version App 22.11.20.1817</span>

      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>