<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Regístrate</ion-title>
  </ion-toolbar>
  <form [formGroup]="signup" class="contenido" (ngSubmit)="onSubmit()">
    <h2 class="titulo">Bizcocho</h2>
    <ion-item>
      <ion-label class="formato" color="dark" position="floating"> Nombre de usuario</ion-label>
      <ion-input type="text" formControlName="userName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="formato" color="dark" position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="formato" color="dark" position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="formato" color="dark" position="floating">Confirme Contraseña</ion-label>
      <ion-input type="password" formControlName="password2" required></ion-input>
    </ion-item>
    <ion-button class="main-btn" type="submit">Registrarme</ion-button>
    <ion-button routerLink="/auth/login">Atras</ion-button>
  </form>
</ion-header>