ion-avatar{
    image-resolution: 100%;
    width: 100px;  
    height: 100px;
    margin-left:6%;
    margin-right: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
    border:2px solid;
    border-color: rgba(92, 136, 248, 0.329); 
    }
    


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&display=swap');


h1{
text-align: center;
font-size: 25px;
font-family: 'Bebas Neue';
color: rgba(250, 235, 215, 0.804);
/*font-family: 'Playfair Display', serif;*/
}