<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Nuestros Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-card *ngFor="let producto of productos;">
      <ion-card-header>
        <img class="card-img" src={{producto.foto}}>
        <ion-card-title>{{producto.nombre}}</ion-card-title>
        <ion-card-subtitle class="descripcion">{{producto.descripcion}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">$ {{producto.precio}}</ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" (click)="addToCart(producto)">
              <ion-icon slot="icon-only" name="add-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>