ion-card {
    border-radius: 30px;
    background: -webkit-linear-gradient(-26deg, rgb(35, 134, 136), rgb(19, 30, 125));
    background: linear-gradient(-26deg, rgb(35, 134, 136), rgb(19, 30, 125));
    max-width: 700px;
    max-height: 950px;
}

ion-fab-button {
    margin-top: 0%;
    margin-left: -25%;
}

.cart-icon {
    font-size: 40px;
}

.cart-length {
    color: var(--ion-color-primary);
    position: absolute;
    top: 18px;
    left: 15px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
}