.fondo{
    background-image: url("/assets/img/cosas.png")     
}
.titulo{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9 rem;
    text-align: center;
    background-color: rgba(43, 49, 49, 0.329);
    border-radius: 10px 100px;

}

ion-card{
    border-radius: 30px;  
    background: -webkit-linear-gradient(-26deg, rgb(35, 134, 136), rgb(19, 30, 125));
    background: linear-gradient(-26deg, rgb(35, 134, 136), rgb(19, 30, 125));        
    max-width: 700px;
    max-height: 950px;
    margin-right: 10%; 
    margin-left: 10%;
}

.card-img{
    
    min-height: 150px;
    min-width: 150px;
    align-items: center;
    border-radius: 25px;
   
   
}

.precio{
    color: black;
    font-weight: bold;
}
.descripcion{
    margin-top: 5px;
    color: antiquewhite;   
}

.nombre{font-weight: bold;
}


