<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Historial de atenciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Fecha de atencion:</h2>
        <h2>Numero de atencion:</h2>
        <h3>Nombre de veterinario:</h3>
        <h3>Nombre de paciente:</h3>
        <h3>Nombre dueño:</h3>
        <h3>Telefono dueño:</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Fecha de atencion:</h2>
        <h2>Numero de atencion:</h2>
        <h3>Nombre de veterinario:</h3>
        <h3>Nombre de paciente:</h3>
        <h3>Nombre dueño:</h3>
        <h3>Telefono dueño:</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
