ion-avatar{
    border-radius: 50%;
   background-color: black;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%; 
    margin-bottom: 10px;
  
}


.sexo{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.174);
}