<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Crear nueva Mascota</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Ingrese los datos de la mascota</h1>

  <ion-list >
    <ion-avatar >
      <img src="https://w7.pngwing.com/pngs/1020/59/png-transparent-dog-logo-pet-food-cat-pet-food-food-animals-cat-like-mammal-thumbnail.png" />
    </ion-avatar>

    <ion-item>
      <span position="floating">Especie</span>
    </ion-item>

    <ion-item>
      <ion-label class="formato" color="dark" position="floating"> Nombre de mascota</ion-label>
      <ion-input type="text" required ></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label class="formato" color="dark" position="floating"> Sexo Mascota</ion-label>
        <ion-select interface="action-sheet" placeholder="Sexo Mascota">
          <ion-select-option value="si">Si</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label class="formato" color="dark" position="floating"> Edad</ion-label>
      <ion-input type="number" min="0" max="20" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="formato" color="dark" position="floating"> Peso</ion-label>
      <ion-input type="decimal" required ></ion-input>
    </ion-item>

    <ion-item>
      <span position="floating">Raza</span> 
    </ion-item>

    <ion-item>
      <span position="floating">Pelaje</span>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label class="formato" color="dark" position="floating"> ¿Castatrado / Esterilizada?</ion-label>
        <ion-select interface="action-sheet" placeholder="¿Se opero?">
          <ion-select-option value="Macho">Macho</ion-select-option>
          <ion-select-option value="Hembra">Hembra</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label class="formato" color="dark" position="floating"> Cantidad de vacunas</ion-label>
      <ion-input type="number" min="0" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="formato" color="dark" position="floating"> Informacion extra</ion-label>
      <ion-input type="text"  ></ion-input>
    </ion-item>
    
    <ion-item>
      <span position="floating">Foto Mascota</span>
    </ion-item>
  </ion-list>
  
  <ion-button expand="full" color="primary" href='pages/mascota' > Crear mascota </ion-button>
  <ion-button expand="full" color="secondary" href='pages/crearmascotacliente'>Cancelar</ion-button>




</ion-content>