ion-avatar{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-radius: 50%;
    display:block;
    margin:auto;
    border: 1px solid rgb(0, 0, 0);
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&display=swap');
h1{
text-align: center;
font-size: 25px;
font-family: 'Bebas Neue';
color: rgba(250, 235, 215, 0.804);
/*font-family: 'Playfair Display', serif;*/
}